.CustomLink {
    /* border: 1px solid rgb(255, 85, 85); */
    border-radius: 20px;
    color: #000000;
    display: grid;
}

.CustomLink .active {
    border-radius: 20px;
    /* background-color: yellow; */
    font-weight: bold;
}

.CustomLink .non-active {
    border-radius: 20px;
    /* background-color: rgb(0, 255, 255); */
}