.CompanyDetails {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.Container{
    display: flex;
    flex-direction: column;
}