
.CustomersList .Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.CustomersList .page-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0  5% 40px;
}

.page-title h2{
    margin: 0;
}