.CouponItem {
    max-height: fit-content;

    display: flex;
    flex-direction: column;
    padding-right: 0;


    border-radius: 20px;

    min-width: 300px;
    max-width: 5rem;
    
    margin: 13px;
    padding: 10px;

    box-shadow: 5px 2px 24px 0px rgba(66, 68, 90, 0.26);
}

/* From uiverse.io by @adamgiebl */
.card {
    border-radius: 30px;
    
    background: #efefef;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
}

.CouponItem > .buttons > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.buttons button {
    padding: 0.8em 1em;
    border-radius: 1.5em;
}

.BoxImage {
    display: flex;
    justify-content: center;
    margin-top: -1.5em;
}

.BoxImage>img {
    width: auto;
    height: 60px;
    border: 1px solid #eee;
    border-radius: 50%;
    vertical-align: middle;
    align-items: center;
    background-color: #eee;

    padding: 10px 0px;
}

.CouponDetails p {
    font-size: 15px;
    margin: 0;
}