.Page404 {
	display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 600;
}

.Page404 > img{
    width: 15em;
}