.AuthMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AuthMenu .CustomLink {
    align-self: flex-end;
}

.AuthMenu .CustomLink .react-icons {
    padding: 13px;
    margin: 0px;
}

.name-area {
    display: flex;
    gap: 0.5em;
}