.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 1rem 2rem;

    background-color: #ffffff;
}

.Header>.react-icons {
    color: #000000;
}