.UpdateCustomer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    /* max-width: 340px; */
    /* min-height: 460px; */
    /* padding: 10px 0; */
    /* margin: auto; */
    /* border-radius: 5px; */
    /* border: solid 1px #ccc; */
    /* box-shadow: 1px 2px 5px rgba(0, 0, 0, .31); */
    /* background: #ebebeb; */
    /* background-color: #F5F6F7; */
}
