.CouponItem {
    max-height: fit-content;

    min-width: 300px;
    max-width: 5rem;

    display: flex;
    flex-direction: column;

    border-radius: 20px;

    /* margin: 13px; */
    padding: 10px;

    box-shadow: 5px 2px 24px 0px rgba(66, 68, 90, 0.26);
}
