.App {
  display: grid;
  grid-auto-rows: repeat(12, 1fr);
  grid-auto-columns: minmax(3fr, auto) auto;

  height: 100%;
  min-height: 100vh;
  width: 100%;

  color: #23235f;

  background-image: linear-gradient(to left bottom, #989eff, #9fa4ff, #a6aaff, #acb1ff, #b3b7ff, #b8beff, #bec4fe, #c4cbfd, #cbd3fb, #d3daf8, #dce2f5, #e6e9f2);
}

.App>.Dashboard {
  grid-row: 1/13;
  grid-column: 1 / 2;
}

.App>.Header {
  grid-row: 1 span;
  grid-column: 2 / 13;
}

.App>.Main {
  grid-row: 10 span;
  grid-column: 2 / 13;
}

.App>.Footer {
  grid-row: 1 span;
  grid-column: 2 / 13;
}

.App>* {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  margin: 10px;
  padding: 10px;

  -webkit-box-shadow: 5px 2px 24px 0px rgba(66, 68, 90, 0.26);
  -moz-box-shadow: 5px 2px 24px 0px rgba(66, 68, 90, 0.26);
  box-shadow: 5px 2px 24px 0px rgba(66, 68, 90, 0.26);
}

/* GLOBAL CSS */

a{
  text-decoration: none;
}

/* FORMS GLOBAL CSS */

form, input, select, p {
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 16px;
  color: #666;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  /* margin: 1em auto 0 auto; */
}

form {
  margin: 0 30px;
  text-align: center;
}

label.icon {
  margin: 0;
  border-radius: 15px 0 0 15px;
}

form>span {
  width: 100%;
  color: red;
}

input, select {
  /* width: 80%; */
  width: calc(100% - 58px);
  height: 40px;
  margin: 13px 0 0 0px;
  padding-left: 10px;
  border-radius: 0 15px 15px 0;
  border: solid 1px #cbc9c9;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
  background: #fff;
}

select {
  width: 83%;
  /* padding-right: 10px; */
}

.icon {
  display: inline-block;
  padding: 10px 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
  background: #1c87c9;
  color: #fff;
  text-align: center;
}

form > button {
  width: 100%;
  padding: 10px 0;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  background: royalblue;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

form > button:hover {
  background: #26a9e0;
}

hr {
  color: #a9a9a9;
  opacity: 0.3;
}

/* ITEM BOXES CSS */

.buttons{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  width: 100%;
}

.buttons .nav-item .react-icons {
  margin-right: 0px;
}






.Details p {
  font-size: 15px;
  margin: 0;
}

/* LIST PAGES GLOBAL CSS */

.Container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  /* flex-direction: column; */
  /* align-items: center; */
}

.page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0  5% 40px;
}

.page-title h2{
  margin: 0;
}